/* You can add global styles to this file, and also import other style files */
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-top: 1rem;
}

.actions {
  margin-top: 3rem;
}

.result {
  margin-top: 3rem;
  display: none;
}

.result__section {
  margin: 0;
}

.result__section__status {
  font-size: 2rem;
}

.result__section__status label {
  font-size: 2rem;
}

.result__section__label {
  font-weight: 600;
}

.result__section--status {
  font-weight: 800;
}
