/* You can add global styles to this file, and also import other style files */
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin-top: 1rem;
}

.actions {
  margin-top: 3rem;
}
